@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* Variables */
:root {
  --light-text:#fff;
  --dark-text: #252525;
  --score-text:#656565;
  --outline:#fff;
  --background:#8CC461;
  --scissor:#BD00FF;
  --rock:#0074B6;
  --paper:#FFA943;
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: var(--background);
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--light-text);
  overflow: hidden;
}

/* Main Content */
.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: 3px solid var(--outline);
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
}

.logo img {
  height: 100%;
}

.score{
  display: flex;
  gap: 10px;
  border-radius: 10px;
  width: 280px;
  height: 100%;
  line-height: 1;
}
.score1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 139px;
  height: 100%;
  line-height: 1;

}
.score2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 139px;
  height: 100%;
  line-height: 1;
}

.score__title {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: var(--score-text);
}

.score__number {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}
.myscore__number {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}

/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "paper scissors"
    "rock rock";
  place-items: center;
  height: 30rem;
  padding-top: 4rem;
}
.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 28%;
  top: 35%;
  background: url("./images/bg-triangle.svg") no-repeat;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0.5rem var(--shadow-light);
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.choice-btn:hover .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #9fd17e;
  z-index: -2;
}

.choice img {
  transform: scale(1.5);
}
.choice.rock::before{
  background: var(--rock);
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
  
}
.choice.scissors::before{
  background: var(--scissor);
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
 
}

.choice.paper::before{
  background: var(--paper);
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
}



.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
  max-width: 1000px;
  margin: 0 auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}
.results__result {
  min-width: 10rem;
  min-height: 10rem;
  background: #16213d;
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .choice::after {
  box-shadow: 0 0 0 40px #2E9A2563, 0 0 0 80px #489b4063, 0 0 0 130px #b5deb163;
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
.play-again {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: var(--dark-text);
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.play-again:focus {
  border: 2px solid var(--outline);
}

/* Rules Button */
.rules-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: none;
  outline: none;
  border: 2px solid var(--outline);
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.rules-btn:focus {
  border: 2px solid #fff;
}

.next-btn{
  display: none;
  position: absolute;
  bottom: 2rem;
  right: 12rem;
  background: none;
  outline: none;
  border: 2px solid var(--outline);
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;

}
.next-btn>a{
  text-decoration: none;
  color: #fff;
}

/* Rules Modal */
.modal{
  display: flex;
  position: relative;
  left: 75%;
  top: -25rem;
 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
 
  pointer-events: none;
  
}


.modal__header>h1{
  position: relative;
  top: -25px;
  left: 9.4em;
  color: #FFF;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 6px solid #fff;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  pointer-events: initial;
}


.rules-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* hurrah page */

.trophy{
 position: relative;
 top: 150px;
 left: 44%;

}
.trophy_heading{
  font-size: 65px;
  position: relative;
  top: 180px;
  left: 42%;
  
}

.trophy_heading2{
  font-size: 32.5px;
  
  position: relative;
  top: 200px;
  left: 43%;
}

.play-again2{
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: var(--dark-text);
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;

  position: relative;
  top: 220px;
  left: 43.5%;
}

.play-again2>a{
  text-decoration: none;
  color: #000;
}
/* Footer */
.footer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: #ff652f;
}

/* Utilities */
.preload * {
  transition: none;
}

.hidden {
  display: none;
}
